# Student Grade Prediction Project

# STEP 1:

# Data Collection and Exploration

This is the step where we have to collect the data required. As in our project we get the dataset from kaggle(https://www.kaggle.com/datasets/dipam7/student-grade-prediction)

Also in this step we will explore data to get insight and use visualizations as well if needed to understand data

In [ ]:
rom google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Data Collection

In [ ]:

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.utils import shuffle
import seaborn as sns
import matplotlib.pyplot as plt
​
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/'+"student.csv")

In [ ]:
   school   sex   age  address  famsize  Pstatus   Medu   Fedu    Mjob      Fjob       ...   feespaid    ecactivities   internet   freetime   goout   health   absences   G1   G2  G3
0     GP      F    18    U       GT3       A        4      4      at_home    teacher    ...    no          no             no        3          4       3        6           5   6    6
1     GP      F    17    U       GT3       T        1      1      at_home    other      ...    no          no             yes       3          3       3        4           5   5    6
2     GP      F    15    U       LE3       T        1      1      at_home    other      ...    yes         no             yes       3          2       3        10          7   8    10
3     GP      F    15    U       GT3       T        4      2      health     services   ...    yes         yes            yes       2          2       5        2           15  14   15
4     GP      F    16    U       GT3       T        3      3      other      other      ...    yes         no             no        3          2       5        4           6   10   10
...   ...   ...   ...   ...     ...       ...      ...    ...      ...        ...       ...    ...         ...           ...       ...        ...     ...      ...         ...  ...  ...
390   MS      M    20    U       LE3       A        2      1      services   services   ...    yes         no             no        5          4       4        11          9    9    9
391   MS      M    17    U       LE3       T        3      1      services   services   ...    no          no             yes       4          5       2        3           14   16   16
392   MS      M    21    R       GT3       T        1      1      other      other      ...    no          no             no        5          3       3        3           10   8    7
393   MS      M    18    R       LE3       T        3      2      services   other      ...    no          no             yes       4          1       5        0           11   12   10
394   MS      M    19    U       LE3       T        1      1      other      at_home    ...    no          no             yes       2          3       5        5           8    9    9
395 rows × 26 columns

# Data Exploration

In [ ]:
print('Total number of students: ',len(df))

 Total number of students: 395

In [ ]:
print("Parameter are: ",df.columns)

In [ ]:
 Parameter are:  Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'guardian', 'traveltime', 'studytime', 'failures',
       'Ssupport', 'Gsupport', 'feespaid', 'ecactivities', 'internet',
       'freetime', 'goout', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
df.info()

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype 
---  ------        --------------  ----- 
 0   school        395 non-null    object
 1   sex           395 non-null    object
 2   age           395 non-null    int64 
 3   address       395 non-null    object
 4   famsize       395 non-null    object
 5   Pstatus       395 non-null    object
 6   Medu          395 non-null    int64 
 7   Fedu          395 non-null    int64 
 8   Mjob          395 non-null    object
 9   Fjob          395 non-null    object
 10  guardian      395 non-null    object
 11  traveltime    395 non-null    int64 
 12  studytime     395 non-null    int64 
 13  failures      395 non-null    int64 
 14  Ssupport      395 non-null    object
 15  Gsupport      395 non-null    object
 16  feespaid      395 non-null    object
 17  ecactivities  395 non-null    object
 18  internet      395 non-null    object
 19  freetime      395 non-null    int64 
 20  goout         395 non-null    int64 
 21  health        395 non-null    int64 
 22  absences      395 non-null    int64 
 23  G1            395 non-null    int64 
 24  G2            395 non-null    int64 
 25  G3            395 non-null    int64 
dtypes: int64(13), object(13)
memory usage: 80.4+ KB

In [ ]:
df.describe()

In [ ]:
       age           Medu Fedu    traveltime    studytime     failures     freetime       goout        health        absences       G1           G2             G3
count    395.000000    395.000000   395.000000    395.000000    395.000000   0.395.000000   395.000000   395.000000    395.000000    395.000000    395.000000    395.000000
mean     16.696203     2.749367     2.521519      1.448101      2.035443     0.334177       3.235443     3.108861      3.554430      5.708861      10.908861     10.415190
std      1.276043      1.094735     1.088201      0.697505      0.839240     0.743651       0.998862     1.113278      1.390303      8.003096      3.319195       4.581443
min      15.000000     0.000000     0.000000      1.000000      1.000000     0.000000       1.000000     1.000000      1.000000      0.000000      3.000000       0.000000
25%      16.000000     2.000000     2.000000      1.000000      1.000000     0.000000       3.000000     2.000000      3.000000      0.000000      8.000000       8.000000
50%      17.000000     3.000000     2.000000      1.000000      2.000000     0.000000       3.000000     3.000000      4.000000      4.000000      11.000000      11.000000
75%      18.000000     4.000000     3.000000      2.000000      2.000000     0.000000       4.000000     4.000000      5.000000      8.000000      13.000000      14.000000
max      22.000000     4.000000     4.000000      4.000000      4.000000     3.000000       5.000000     5.000000      5.000000      75.000000     19.000000      20.000000

In [ ]:
df['G3'].describe()

In [ ]:
count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64

In [ ]:
plt.figure(figsize=(10, 8))
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
<ipython-input-8-6688a53f2a0d>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

# correlation heatmap

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Calculate the correlation matrix
correlation_matrix = df.corr()
​
# Plot the heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title('Correlation Heatmap')
plt.show()

# In this code:

We calculate the correlation matrix using the corr method on the DataFrame df. We use Seaborn's heatmap function to create the heatmap, specifying parameters such as annotation (annot=True), colormap (cmap='coolwarm'), format of the annotations (fmt=".2f" for two decimal places), and linewidths. Finally, we set the title and display the heatmap. This heatmap will visualize the pairwise correlations between the features in your DataFrame df, with annotations showing the correlation coefficients. You can adjust the figure size, colormap, and other parameters as needed for better visualization.

In [ ]:
sns.countplot(x="age",data=df)

In [ ]:
<Axes: xlabel='age', ylabel='count'>

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Assuming 'df' is your DataFrame containing the data
plt.figure(figsize=(10, 6))
sns.countplot(x="age", data=df)
plt.title('Countplot of Age')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

# In this code:

We import seaborn as sns and matplotlib.pyplot as plt. We use sns.countplot() to create the countplot, specifying the column "age" as the x-axis variable and the DataFrame df as the data source. We set the figure size, title, and labels for the axes. Finally, we display the plot using plt.show(). This countplot will show the distribution of observations across different age categories. Adjust the figure size and other parameters as needed for better visualization.

In [ ]:
df['G3'].describe()

In [ ]:
count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64

# STEP 3:

# Data Preprocessing

 In this step we will perform task as handling missing values and encode catagorical data

# Handling missing values

In [ ]:
df=df.dropna()
print((df.isnull()).sum())

In [ ]:
school          0
sex             0
age             0
address         0
famsize         0
Pstatus         0
Medu            0
Fedu            0
Mjob            0
Fjob            0
guardian        0
traveltime      0
studytime       0
failures        0
Ssupport        0
Gsupport        0
feespaid        0
ecactivities    0
internet        0
freetime        0
goout           0
health          0
absences        0
G1              0
G2              0
G3              0
dtype: int64

# Encoding catagorical variables

In [ ]:
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#for col in df.columns:
#  df[col]=le.fit_transform(df[col])

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["internet"]=le.fit_transform(df["internet"])
df["ecactivities"]=le.fit_transform(df["ecactivities"])
df["feespaid"]=le.fit_transform(df["feespaid"])
df["Gsupport"]=le.fit_transform(df["Gsupport"])
df["Ssupport"]=le.fit_transform(df["Ssupport"])
df["guardian"]=le.fit_transform(df["guardian"])
df["Fjob"]=le.fit_transform(df["Fjob"])
df["Mjob"]=le.fit_transform(df["Mjob"])
df["Pstatus"]=le.fit_transform(df["Pstatus"])
df["famsize"]=le.fit_transform(df["famsize"])
df["address"]=le.fit_transform(df["address"])
df["sex"]=le.fit_transform(df["sex"])
df["school"]=le.fit_transform(df["school"])

In [ ]:
df.head()

In [ ]:
    school   sex   age  address  famsize   Pstatus    Medu   Fedu   Mjob   Fjob   ...   feespaid   ecactivities   internet   freetime   goout    health    absences   G1    G2  G3
0    0       0     18   1         0         0         4      4      0      4      ...   0          1               0         3          4        3          6         5     6   6
1    0       0     17   1         0         1         1      1      0      2      ...   0          0               1         3          3        3          4         5     5   6
2    0       0     15   1         1         1         1      1      0      2      ...   1          0               1         3          2        3          10        7     8   10
3    0       0     15   1         0         1         4      2      1      3      ...   1          1               1         2          2        5          2         15    14  15
4    0       0     16   1         0         1         3      3      2      2      ...   1          0               0         3          2        5          4         6     10  10

# Finding Correlation between Attributes

In [ ]:


df.corr()['G3'].sort_values()

In [ ]:
failures       -0.360415
age            -0.161579
goout          -0.132791
traveltime     -0.117142
Ssupport       -0.082788
guardian       -0.070109
health         -0.061335
Pstatus        -0.058009
school         -0.045017
Gsupport       -0.039157
freetime        0.011307
ecactivities    0.016100
absences        0.034247
Fjob            0.042286
famsize         0.081407
studytime       0.097820
internet        0.098483
feespaid        0.101996
Mjob            0.102082
sex             0.103456
address         0.105756
Fedu            0.152457
Medu            0.217147
G1              0.801468
G2              0.904868
G3              1.000000
Name: G3, dtype: float64

In [ ]:
#df = df.drop(['school', 'G1', 'G2'], axis='columns')

In [ ]:
most_correlated = df.corr().abs()['G3'].sort_values(ascending=False)
most_correlated = most_correlated[:9]
most_correlated

In [ ]:
G3            1.000000
G2            0.904868
G1            0.801468
failures      0.360415
Medu          0.217147
age           0.161579
Fedu          0.152457
goout         0.132791
traveltime    0.117142
Name: G3, dtype: float64

In [ ]:
df = df.loc[:, most_correlated.index]
df.head()

In [ ]:
G3  G2  G1   failures   Medu   age   Fedu  goout   traveltime
0   6   6    5          0       4    18    4       2
1   6   5    5          0       1    17    1       3
2   10  8    7          3       1    15    1       2
3   15  14   15         0       4    15    2       2
4   10  10   6          3       16   3     2       1

# Data spliting

 In this step we will split data in to testing and training data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, df['G3'], test_size = 0.3, random_state=0)

In [ ]:
X_train.head()

In [ ]:
     G3   G2   G1   failures   Medu   age  Fedu  goout  traveltime
22    16   15   15         0      4     16    2      1    1
241   12   11   10         0      4     17    4      3    2
122   13   13   13         0      2     16    4      2    2
176   11   13   13         0      2     16    2      4    2
162   0    0    7          1      1     16    2      4    2

# Model Selection and Model Training

In [ ]:

print(lr.score(X_test, y_test))                 #Near to 1, good predicts target

In [ ]:

0.7826051367042399

In [ ]:
predictions = lr.predict(X_test)

In [ ]:
plt.plot(y_test, predictions, 'o')
m, b = np.polyfit(y_test,predictions, 1)
plt.plot(y_test, m*y_test + b)
plt.xlabel("Actual Grade")
plt.ylabel("Predicted Grade")

In [ ]:

Text(0, 0.5, 'Predicted Grade')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Assuming 'df' is your DataFrame containing the data
plt.figure(figsize=(10, 6))
sns.countplot(x="age", data=df)
plt.title('Countplot of Age')
plt.xlabel('Age')
plt.ylabel('Predicted Grade')  # Adding the label for the y-axis
plt.show()

This will ensure that the y-axis label of your countplot is set to "Predicted Grade". Adjust the figure size and other parameters as needed.

In [ ]:
# User Input for Prediction
user_input = {}  # Dictionary to store user inputs

for col in df.columns:
    if col != 'G3':
        user_input[col] = int(input(f"Enter value for {col}: "))

# Create a DataFrame for user input
user_input_df = pd.DataFrame([user_input])

# Make predictions on user input
predicted_grade = lr.predict(user_input_df)

print("Predicted Grade:", predicted_grade[0])

In [ ]:
Enter value for G2: 1
Enter value for G1: 1
Enter value for failures: 1
Enter value for Medu: 1
Enter value for age: 1
Enter value for Fedu: 1
Enter value for goout: 1
Enter value for traveltime: 1
Predicted Grade: 2.5510808920152153

In [ ]:

df.head()

In [ ]:
   G3   G2   G1   failures   Medu   age   Fedu   goout  traveltime
0   6    6    5    0          4     18     4      4      2
1   6    5    5    0          1     17     1      3      1
2   10   8    7    3          1     15     1      2      1
3   15   14   15   0          4     15     2      2      1
4   10   10   6    0          3     16     3      2      1
​